<head>
  <link href="/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">
</head>
<div class="header bg-gradient-danger pb-5 pt-5 pt-md-5">
  <div class="container-fluid">

  </div>
</div>

<div class="container">
  <div class="header-body text-center mb-7">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-3">
        <br>
        <br>
        <h1 class="text-dark"><b>Create your products!</b></h1>
        <br>
      </div>
    </div>
  </div>
</div>

<!-- Page content -->
<div class="container mt--8 pb-5">
  <div class="row justify-content-center">
    <div class="col-lg-5 col-md-7">
      <div class="card bg-secondary shadow border-0">
        <div class="card-body px-lg-5 py-lg-5">
          <div class="text-center text-muted mb-4">
            <small><b>Fill the information of your product</b> </small>
          </div>
          <form role="form" [formGroup]="createForm" (ngSubmit)="createProduct()">
            <div class="column">
              <div class="col-md-12">
                <div class="form-group" style="align-self: center;">
                  <input class="form-control" formControlName="name" placeholder="Name" type="text"
                    style="margin: 6px;">
                  <mat-form-field appearance="fill" style="display: contents; background-color: white;">
                    <mat-label>Type</mat-label>
                    <mat-select (selectionChange)="selectType($event.value)" required>
                      <mat-option *ngFor="let ty of allTypes" [value]="ty.name">
                        {{ty.name}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                  <br>
                  <input class="form-control" formControlName="aged" placeholder="Aged" type="text">
                  <br>
                  <input class="form-control" formControlName="presentation" placeholder="Presentation" type="text">
                  <br>
                  <input class="form-control" formControlName="globalPrice" placeholder="Global price (US$)"
                    type="number">
                  <br>
                  <blockquote class="blockquote">
                    <p class="mb-0">Insert an image.</p>
                  </blockquote>
                  <div style="display: flex;">
                    <input id="default-btn" class="btn" type="file" style="width: 150%;" placeholder="image"
                      (change)="uploadFile($event)"> 
                  </div>
                </div>
              </div>
            </div>
            <div class="text-center">
              <button [disabled]="loading" class="btn btn-primary my-4">
                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                Create
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>