<div class="header bg-gradient-danger pb-5 pt-5 pt-md-5">
    <div class="container-fluid">
      
    </div>
  </div>
  <!--Filtrado-->
  
  <!-- Page content -->
  <div style="display:inline-flex ; margin: 28px 150px; ">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../../assets/img/theme/sub1.jpeg" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title" style="font-size: medium;"><b>Tier Short Glass</b></h5>
          <p class="card-text">When we receive a new whisky in the store, you will receive an email with a description of the whisky. In addition to this, you get a 5% discount on all your purchases.</p>
          <a href="#" class="btn btn-primary" style="margin-top: auto;">Select subscription</a>
        </div>
      </div>
      <hr>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../../assets/img/theme/sub2.webp" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title" style="font-size: medium;"><b>Tier Gleincairn</b></h5>
          <p class="card-text">When we receive a new whisky in the store, you will receive an email with a description of the whisky. The club has certain whiskies that only you can purchase.  In addition to this you get 10% discount on purchases and 20% discount on the shipping cost. </p>
          <a href="#" class="btn btn-primary" style="margin-top: auto;">Select subscription</a>
        </div>
      </div>
      <hr>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="./../../../assets/img/theme/sub3.webp" alt="Card image cap">
        <div class="card-body d-flex flex-column">
          <h5 class="card-title"style="font-size: medium;"><b>Tier Master Distiller</b></h5>
          <p class="card-text">When we receive a new whisky in the store, you will receive an email with a description of the whisky. The club has certain whiskies that only you can buy. For every 10 purchases, you get a free whisky. In addition to this you have 30% discount on purchases and the shipping cost is free. 
        </p>
          <a href="#" class="btn btn-primary " style="margin-top: auto;">Select subscription</a>
        </div>
      </div>

  </div>
    <button type="button" class="btn btn-success" style="margin: 18px 510px" >Subscribe</button>
   

  

  
  <!--pie de pagina-->
  <!-- <div class="uploaderPanel card-remove">
    <mat-accordion class="matAcordion">
      <mat-expansion-panel class="matAcordion">
        <mat-expansion-panel-header class="showPanel" hideToggle>
          <mat-panel-title>
            <button mat-fab color="primary">
              <mat-icon>attach_file</mat-icon>
            </button>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="mb-4 mb-xl-0 d-flex flex-row py-3 h-100">
          <div class="d-flex flex-column bg-transparent">
            <form [formGroup]="form" (ngSubmit)="submitForm()">
              <div class="form-group">
                  <input type="file" (change)="uploadFile($event)">
              </div>
              <div class="form-group">
                <button mat-stroked-button color="primary">Importar</button>
  
              </div>
          </form>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div> -->
  